/*CSS Reset*/
* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
}

/*margin - space outside, padding - space inside, border - space between*/

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	/*0.8rem = 12.8px based on the root element (16px)*/
	/*shorthand property*/
	padding: 0.8rem;
	/*properties that make up padding property
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;*/

	/*creates space between nav and intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	}

nav > ul > li {
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*li elements turn into inline elements, default behavior of li is block behavior*/
	display: inline;
	/*block elements, occupies the entire space, with no elements beside them*/
}

#intro {
	/*if % it's coming from the parent. so the padding, occupies 10% of the parent*/
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2 rem;
	padding-bottom: 3rem;
	/*shorthand property
	padding top left right bottom*/

	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
	border-color: transparent;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2 rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {

	/*inline block allows you to manipulate the sizes*/
	display: inline-block;
	/*vertical-align: top - will aligns with the tallest element*/
	vertical-align: top;
	/*min-height*/
	min-height: 175px;
	width: 30%;
	/*to add space between the cards*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	background-color: #002540;
	color: white;
	padding: 2rem 3rem 2rem 3rem;
}

#pre-footer div {
	display: inline-block;
	vertical-align: top;
	min-height: 100px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
}